extends layout
block headscripts
  script(type="text/javascript").
    $(document).ready(function(){
      $('a[href$="/contact-us"]').parent().addClass("active");
    });
block content
  .jumbotron
    .container
      h1 #{title}
  .container
    p Please fill out the following form and you will be contacted shortly.
    form.form-horizontal
      .form-group
        label(for="namelabel" class="col-sm-2 control-label") Name:
        .col-sm-10
          input(type="text" class="form-control" id="namelabel")
      .form-group
        label(for="emaillabel" class="col-sm-2 control-label") Email:
        .col-sm-10
          input(type="email" class="form-control" id="emaillabel")
      .form-group
        label(for="phonelabel" class="col-sm-2 control-label") Phone:
        .col-sm-10
          input(type="tel" class="form-control" id="phonelabel")
      .form-group
        label(for="addresslabel" class="col-sm-2 control-label") Address:
        .col-sm-10
          input(type="text" class="form-control" id="addresslabel")  
      .form-group
        label(for="citylabel" class="col-sm-2 col-xs-12 control-label") City / State / Zip:
        .col-sm-5.col-xs-12
          input(type="text" class="form-control" id="citylabel")
        .col-sm-2.col-xs-4
          select(class="form-control" id="citylabel")
            option(value="AL") Alabama
            option(value="AK") Alaska
            option(value="AZ") Arizona
            option(value="AR") Arkansas
            option(value="CA" selected="selected") California
            option(value="CO") Colorado
            option(value="CT") Connecticut
            option(value="DE") Delaware
            option(value="DC") District Of Columbia
            option(value="FL") Florida
            option(value="GA") Georgia
            option(value="HI") Hawaii
            option(value="ID") Idaho
            option(value="IL") Illinois
            option(value="IN") Indiana
            option(value="IA") Iowa
            option(value="KS") Kansas
            option(value="KY") Kentucky
            option(value="LA") Louisiana
            option(value="ME") Maine
            option(value="MD") Maryland
            option(value="MA") Massachusetts
            option(value="MI") Michigan
            option(value="MN") Minnesota
            option(value="MS") Mississippi
            option(value="MO") Missouri
            option(value="MT") Montana
            option(value="NE") Nebraska
            option(value="NV") Nevada
            option(value="NH") New Hampshire
            option(value="NJ") New Jersey
            option(value="NM") New Mexico
            option(value="NY") New York
            option(value="NC") North Carolina
            option(value="ND") North Dakota
            option(value="OH") Ohio
            option(value="OK") Oklahoma
            option(value="OR") Oregon
            option(value="PA") Pennsylvania
            option(value="RI") Rhode Island
            option(value="SC") South Carolina
            option(value="SD") South Dakota
            option(value="TN") Tennessee
            option(value="TX") Texas
            option(value="UT") Utah
            option(value="VT") Vermont
            option(value="VA") Virginia
            option(value="WA") Washington
            option(value="WV") West Virginia
            option(value="WI") Wisconsin
            option(value="WY") Wyoming
        .col-sm-3.col-xs-8
          input(type="text" class="form-control" id="ziplabel")
      .form-group
        label(for="eventlabel" class="col-sm-2 control-label") Event Type:
        .col-sm-10
          select(class="form-control" id="eventlabel")
            option Please Make Selection
            option Wedding
            option Private Party
            option Club Event
            option Corporate Event
            option School Event
            option Other
      .form-group
        label(for="locationlabel" class="col-sm-2 control-label") Event Location:
        .col-sm-10
          input(type="text" class="form-control" id="locationlabel")
      .form-group
        label(for="guestlabel" class="col-sm-2 control-label") Number of Guests:
        .col-sm-6
          input(type="number" class="form-control" id="guestlabel")
      .form-group
        label(for="datelabel" class="col-sm-2 col-xs-12 control-label") Event Date :
        .col-sm-6.col-xs-12
          input(type="date" class="form-control" id="datelabel")
      .form-group
        label(for="startlabel" class="col-sm-2 col-xs-12 control-label") Event Start / End:
        .col-md-4.col-sm-5.col-xs-12
          input(type="time" class="form-control" id="startlabel")
        .col-md-4.col-sm-5.col-xs-12
          input(type="time" class="form-control" id="endlabel")
      .form-group
        label(for="messagelabel" class="col-sm-2 control-label") Comments:
        .col-sm-10
          textarea(class="form-control" rows="3" id="messagelabel")
      button(type="submit" class="btn btn-primary btn-block") Submit
