extends layout
block headscripts
  script(type="text/javascript").
    $(document).ready(function(){
      $('a[href$="/corporate-events"]').parent().addClass("active");
    });
block content
  h1= title
  p Corporate Events
