extends layout
block headscripts
  script(type="text/javascript").
    $(document).ready(function(){
      $('a[href$="/corporate-events"]').parent().addClass("active");
    });
block content
  .jumbotron
    .container
      h1= title
  .container
    .row
      .col-lg-12
        p Being part of a company is an exciting experience! Each and every role is important, as we learn, grow, and synergize with a company as it thrives. Morale is most of all important, as each and every employee is a key player in fulfilling a company's mission.
        p Take your company's mission to the next level and host an event produced by Rebirth Entertainment. Whether it's a large corporate meeting, grand opening, holiday party, customer appreciation day, or company picnic, we will leave your employees, business partners, and managers fulfilled and full of morale!
    .row
      .col-lg-12
        h3 Consultations and Online Planning
        ul
          li Unlimited meetings and 24/7 correspondence with your entertainer to plan your event.
          li 
            | Plan your event with our included DJ Intelligence online event planning system (
            a(href="http://www.demo.djintelligence.com/") Live Demo
            |)
          li Online event timeline planning.
          li Online music search / request list.
    .row
      .col-lg-12
        h3 Sound
        ul
          li Professional Digital Sound / PA for an unlimited number of guests.
          li Multiple microphones for presentations, and announcements.
          li A Squeaky clean music library of over 20,000 songs, spanning from every genre from the 1940's to today's most popular music.
    .row
      .col-lg-12
        h3 Lighting
        ul
          li Specialized intelligent stage lighting.
          li LED Uplights for venue ambience.
          li Dynamic LED dance lighting.
    .row
      .col-lg-12
        h3 Video
        ul
          li Large video screens to accomodate dynamic presentations.
          li Digital Video playback (Blu-Ray, DVD, VHS, and file-based) to accomodate all types of video formats.
    .row
      .col-lg-12
        h3 Karaoke
        ul
          li Live karaoke for your guests to enjoy, featuring a library of over 50,000 songs (1940"s to today's hottest hits!)
          li Multiple microphones for your guests to use as they sing.
          li Multiple and easily visible mobile video screens for your guests to read karaoke lyrics from.
    .row
      .col-lg-12
        h3 Add-ons
        ul
          li LED Uplighting
          li Video Screens
          li Karaoke
          li Intelligent / Additional LED Dance Lighting
          li Photo Booth
