extends layout
block headscripts
  script(type="text/javascript").
    $(document).ready(function(){
      $('a[href$="/"]').parent().addClass("active");
      for(var i=1; i<25; i++) {
        $("div.carousel-inner").append(
          '<div class="item">'
          +'<center>'
          +'<img style="height:200px" src="http://www.rebirthentertainment.com/images/carousel/rebirth-entertainment-carousel-'+i.toString()+'.jpg" />'
          +'</center>'
          +'</div>'
        );
      }
      $(".item:first").addClass("active");
      $('.carousel').carousel({
        interval: 5000
      });
    });
block content
  br
  br
  .container
    .row
      .page-header
        //h1 #{title}
        img(src="/images/rebirth-entertainment-logo.png")
        p Rebirth Entertainment is a professional mobile disc jockey / DJ / VJ / KJ / Photo Booth entertainment service in San Diego county, serving Southern California and surrounding areas.
    .row
      div(class="carousel slide" data-ride="carousel" id="NightPics")
        // Indicators
        //ol.carousel-indicators
          li(data-target="#NightPics" data-slide-to="0" class="active")
          li(data-target="#NightPics" data-slide-to="1")
          li(data-target="#NightPics" data-slide-to="2")
        // Wrapper for slides
        div(class="carousel-inner" role="listbox")
          
        // Controls
        
        a(class="left carousel-control" href="#NightPics" role="button" data-slide="prev")
          span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
          span(class="sr-only") Previous
        a(class="right carousel-control" href="#NightPics" role="button" data-slide="next")
          span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
          span(class="sr-only") Next
    .row
      .col-md-4.col-sm-6
        h2 Professional
        p Licensed, insured, and BBB accredited in the state of California, Rebirth Entertainment provides a wide array of professional entertainment services, from scalable digital sound systems to custom lighting packages (dance, intelligent, LED uplighting and custom monograms), Video Screen/Video DJ (HD music videos) packages, Karaoke packages, Photo Booth packages, and assisted event planning.
      .col-md-4.col-sm-6
        h2 Achievements 
        p Recognized for their professional San Diego DJ entertainment and event services, use of state of the art sound, lighting, video and presentation technology, and friendly and personable staff, Rebirth Entertainment is ready to serve your Weddings, Corporate Events, School Events, Private Parties, and Club Events!
      .col-md-4.col-sm-12
        h2 Goals
        p Committed to their vision, Rebirth Entertainment strives to exceed your expectations and create the best experience possible.
    .row
      .col-lg-12
        h2 The Company
        p Established in 2004, Rebirth Entertainment began as a single invidual's dream to spread the love of art, music, and theatre to the community. Jordan Jacobs (DJ Rebirth) created a vision to integrate the performing arts world with his background in technology, and take them on a journey to inspire everyone and everything!
        p From 2004 to 2007, Jordan Jacobs built his professional DJ, event, and lighting design skillset to officially launch Rebirth Entertainment and grow with the industry. Working together with professional top-level DJ and entertainment companies, Jordan was trained by the industry's best, refining his vision each year to reach more and more individuals.
        p To date, Rebirth Entertainment has produced, performed, and managed hundreds of events in southern California and has established rapport with thousands of individuals and community organizations and leaders, such as the Susan G. Komen Foundation of San Diego, San Diego Chargers, Hillcrest Youth Center, SD Pride, and NetIP San Diego.
