extends layout
block headscripts
  script(type="text/javascript").
    $(document).ready(function(){
      $('a[href$="/school-events"]').parent().addClass("active");
    });
block content
  .jumbotron
    .container
      h1= title
  .container
    .row
      .col-lg-12
        p Defining the term "school" can refer to almost anything, as the word in many contexts and cultures refers to a place of formal education, where ambitious students receive their education in classrooms, lecture halls, amphitheaters and forums. Let's not forget that under the ocean, there are schools of fish swimming about (this would commonly be referred to as "recess!").
        p Schools are also excellent opportunities for students to form core social groups and share their aspirations with individuals like them selves, associating with them based on their common interests. Much like any other place of social bonding, students want to find a reason to take a break from from mind-bending tasks and let loose and party!
        p Rebirth Entertainment specializes in entertainment for all places of education, including colleges, universities, high schools, middle schools, elementary schools, and trade schools. Whether it's a high school prom, homecoming, grad-nite, morp, or an elementary school carnival, middle school dance, college social or student appreciation day for your private school, we will leave your students feeling hyped, energized, and party rocked!
    .row
      .col-lg-12
        h3 Consultations and Online Planning
        ul
          li Unlimited consultations with your DJ and 24/7 correspondence to meet your needs.
          li 
            | Included Online event planning with our DJ Intelligence system (
            a(href="http://www.demo.djintelligence.com/") Live Demo
            | ).
          li Online music request system for multiple guests and attendees.
    .row
      .col-lg-12
        h3 Sound
        ul
          li High quality digital sound for an unlimited number of guests.
          li Hard-hitting bass.
          li A squeaky clean music library of over 50,000 songs, spanning from every genre from the 1940's to today's most popular top 40 and house music.
          li Dynamic mixing via your DJ, elevating the energy levels of your guests!
    .row
      .col-lg-12
        h3 Lighting
        ul
          li Vibrant sound-active LED dance lighting
          ul
            li Upgradable to computer-controlled intelligent lighting and lasers, with lighting shows designed on-site to accomodate your venue and your guests!
    .row
      .col-lg-12
        h3 Video / Video DJ
        ul
          li Large spandex and plasma/LCD video screens.
          li Live video.
          li HD music videos from the past four decades to today's hottest hits, dynamic mixed live by your DJ!
    .row
      .col-lg-12
        h3 Add-ons
        ul
          li Additional Lighting
          li Karaoke
          li Walk-around performers for your guests
          li Photo Booth
