extends layout
block headscripts
  script(type="text/javascript").
    $(document).ready(function(){
      $('a[href$="/vision"]').parent().addClass("active");
    });
block content
  .jumbotron
    .container
      h1 #{title}
  .container
    .row
      .col-lg-12
        h2 What differentiates Rebirth Entertainment from other companies and what makes us unique?
        p We believe that event production is a science, as every event is an exciting, and unique experience. There are many elements to a successful party, and they should all be planned very carefully to maximize the success of your event!
        p You should also always choose your entertainer wisely. There are many different DJ entertainment companies out in Southern California who specialize in different areas of the industry. Some DJs focus solely on Weddings, making them masters of their craft.
        p Other DJs focus solely on Corporate Events, School Dances, or Club Events and become the "go-to" entertainers and talent for various high end events. Depending on your needs for your upcoming event, it is always a great practice to shop around, and see who is a specialist in your type of event.
        p At Rebirth Entertainment, we like to think of ourselves as a "Swiss-Army Tool" of events, as we specialize in every event that you can possibly think of, in the most modern, economic, high-tech, and exciting ways possible! The reasoning behind this is our personal acronym for success, known as M.A.D.E.
    .row
      .col-lg-12
        h2 M.A.D.E stands for "Modern, Active, Digital, Energy."
        .container
          .row
            .col-sm-3
              h4 Modern
              p Born in 1985, the owner of Rebirth Entertainment, Jordan Jacobs / "DJ REBIRTH", is an advocate of generation Y. Spending his childhood nerding out and listening to music while playing and working on computers, Jordan developed a love for technology and music. After exploring a later developed passion for theater and acting, and then discovering DJing in 2003, Jordan decided to put himself through a private technical university and graduated in 2010 with a Bachelor's of Science in Computer Info Systems, becoming a professional Software and Web Engineer.
              p Putting his tech skills to work, Jordan is constantly researching, engineering, and implementing the most modern and effective ways of event production, digitizing and streamlining every mode of audio-visual entertainment. He also constantly works with other local and esteemed DJ companies, fine-tuning his production skills, and also attending annual mobile DJ conventions. Toting phrases like "epic" and "awesome" and "right-on", Jordan is always enthusiastic to share his energy, and way cool technology with his events, in order to make them as epic and awesome as possible!
            .col-sm-3
              h4 Active
              p Active refers to the type of reinforced event sound that we prefer to use. In the "old" days, speakers were simply "passive" cabinets with horns and woofers that received power and audio signal from separate, "daisy-chained" amplifiers. To this day, modern concert and event venues utilize this type of sound, but the overloading or failure of one single amplifier could mean the failure of an entire chain of speakers.
              p In the past half-decade, technology has advanced to an "active" state, where modern speakers have advanced to have their own built-in amplifier, earning the name of "powered speakers". These speakers are reliable, as each speaker has its own individual powered amplifier, and (depending on the size of the woofer) can easily accomodate up to 100 people. Most of all, the failure rate for these types of speakers is relatively low - which in the case of failure, the other speakers in the chain can still do their job!
            .col-sm-3
              h4 Digital
              p Still a controversial subject, as "old-school" DJs deviate away from vinyl, cassette tapes, and CDs, the rise of digital media has effectively taken control. Most DJs nowadays utilize laptop computers, storing thousands of MP3s of these once analog, and digital formats. However, even so that music has been effectively digitized, the quality of music is only as good as the person who performs it.
              p We believe that	performing music live and digitally mixing live is the key to true DJing, as the flow of energy follows the flow of music. We also believe that there is a link between biological science and music, as the heart rate follows the beats of the song. For example, try dancing to your favorite song (or genres of music) for an extended period of time, and you'll find that your heart rate matches the beat of the song you're listening to!
              p Additionally, the same concept applies for lighting. "Old school" lighting includes disco balls, strobe lights, and lots of colors flashing in one spot! Modern lighting is LED-based and halogen based with little to no power-consumpion, moves around constantly and have built in microphones for sound-active digital translation. Also, modern dance and LED lights are computer-controlled, to allow lighting shows to be dynamically designed and uniquely showcased at each and every event! We believe that LEDs and intelligent lighting are the future of event lighting, and that "old school" lighting is a thing of the past!
            .col-sm-3
              h4 Energy
              p Energy is the key to everything. As your heart beats to the music you listen to, it also defines the way you exhilarate yourself while you sing and dance to your favorite music! Also when the human body experiences high energy, it biologically releases endorphins and creates a sense of euphoria! We believe that this feeling is absolutely essential for anyone participating in or attending an event, as it is what defines the event as "fun" as it is talked about in days to come.
        p Rebirth Entertainment will always make your events "M.A.D.E" for excellence, maximizing your excitement and euphoria!
