extends layout

block content
  .jumbotron
    .container
      h1= title
  .container
    .row
      .col-lg-12
        p The visualization of a Wedding is diverse in many accords. From the perspective of a Wedding guest, it's a fun day to spend with your family and friends, to celebrate the beautiful union between two lucky individuals! From the point of view of a Wedding Coordinator, photographer, videographer, caterer, florist, or cake bakery, it's a day which requires a large amount of intricate and detailed planning.
        p Finally, from the perspective of an entertainer / DJ, a Wedding is viewed as combining all of these special elements and then adding energy to the mix, creating and delivering a clean, organized, and dynamic professional production. We strive to make all of our Weddings special, exciting, and most of all, memorable. Working closely with the venue's staff and event coordinator (if available) we escalate the excitement and intricacy of your special day to keep you and your guests smiling.
        p For years, Jordan has assisted countless brides and grooms in planning their happy occasion, and then taking their Wedding to the next level!
    .row
      .col-md-4
        h3 Consultations and Online Planning
        ul
          li An in person (or phone-based) pre-consultation, giving you the opportunity to get to know your DJ/MC.
          li A detailed explanation of all of your available Wedding package options.
          li 
            | Once booked, we create an online web account for you to access our DJ Intelligence (
            a(href="http://www.demo.djintelligence.com/") Live Demo
            | ) online event planning system.
          li 24/7 correspondence to you (and unlimited in-person meetings) to assist you in planning your special event and answer any questions you may have!
